<%- include('./includes/head.ejs') %>
<body>
  <h1>Home</h1>
  <form action="/users" method="POST">
    <input type="text" name="userName">
    <button type="submit">Add Name</button>
  </form>
</body>
</html>